<div class="rounded bg-white shadow w-3/4 mx-auto mt-4 p-5">
    <h2 class="text-center font-bold py-4 border-b border-gray-400 text-2xl">Change Password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()" class="w-3/4">
        <div class="my-4.5">
        <label for="password" class="block mb-2.5 text-sm font-medium text-heading">Current Password</label>
        <div class="relative">
            <div class="absolute inset-y-0 inset-s-0 flex items-center ps-3 pointer-events-none">
                <i class="text-gray-400 far fa-solid fa-key"></i>
            </div>
            <input formControlName="password" type="password" id="password"
            class="block w-full p-3 ps-9 bg-gray-100 border border-default-medium text-heading rounded"
            placeholder="Your Current Password">
        </div>
        @if(passwordForm.get('password')?.touched){
            @if(passwordForm.get('password')?.getError('pattern')){
                <p class="text-red-600">*Password should be at least eight characters, at least one upper case English letter, one lower case English letter, one number and one special character</p>
            }
            }
    </div>
        <div class="my-4.5">
        <label for="newPassword" class="block mb-2.5 text-sm font-medium text-heading">New Password</label>
        <div class="relative">
            <div class="absolute inset-y-0 inset-s-0 flex items-center ps-3 pointer-events-none">
                <i class="text-gray-400 far fa-solid fa-key"></i>
            </div>
            <input formControlName="newPassword" type="newPassword" id="newPassword"
            class="block w-full p-3 ps-9 bg-gray-100 border border-default-medium text-heading rounded"
            placeholder="Create a strong Password">
        </div>
        @if(passwordForm.get('newPassword')?.touched){
            @if(passwordForm.get('newPassword')?.getError('pattern')){
                <p class="text-red-600">*Password should be at least eight characters, at least one upper case English letter, one lower case English letter, one number and one special character</p>
            }
            }
    </div>
    <button class="bg-blue-600 p-2 cursor-pointer text-white rounded mx-auto w-1/2 font-bold">Change Password</button>
    </form>
    @if (passwordChanged) {
        <div class="rounded p-3 bg-green-100 text-green-300">Password Changed Successfully</div>
    }
</div>